<!DOCTYPE html>
<html lang="en">
<head>
   
<%- include('partials/head.html') %> 
<title><%= 'first website' %> </title>

</head>
<body>
   
    <%- include ('partials/navegator.html')%>
    <div class="container">
        <header class="row">
            <div class="col-lg-12 text-center">
                <img src="/img/pews-logo.png" class="w-auto animated bounceIn" alt="Website Logo">
              </div>
        </header>
    </div>
    <!-- seccion one -->
    <%- include('partials/footer.html') %> 
</body>
</html>