<div class="container bg-dark" id="about">
    <div class="row bg-dark text-white p-5 text-center">
        <div class="col-sm-6">
            <i class="fab fa-youtube fa-10x"></i>
        </div>
        <div class="col-sm-6">
            <h3>
                the most suscribed Youtube 
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptatum quos, dignissimos qui ea sunt repellendus placeat temporibus aliquam illum, illo a debitis sapiente quisquam. Iusto recusandae atque magni animi!</p>
            
        </div>
    </div>
</div>